@{
    ViewData["Title"] = "LoggerError";
}
<h2>Logging Error</h2>

<div class="alert alert-danger">
    <p>We encountered an issue with our logging system</p>
</div>

<p>Please try again later. If the problem persists, contact the relevan people for further support.</p>
